.divImage{
    text-align: center;
    margin:70px;
}
.guitar{
    width: 600px;
    height: 500px;
    padding: 10px;
    border:solid 1px rgb(179, 173, 173);
  }
  .indent{
    padding-right: 9000000000em;
  }

  .navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 1px;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
  }
  
  .navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
    color: rgb(121, 68, 68) !important;
    background-color: #fff;
  }
  .navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  .open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
  }
  .dropdown-menu li a {
    color: #000 !important;
  }
  .dropdown-menu li a:hover {
    background-color: rgb(47, 8, 8) !important;
  }

  .btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
  }
  .btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
  }